/*----DESKTOP FIRST-----*/

body {
    background-image: url(../Images/Exemples/26_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Outfit", sans-serif;
    color: #1b2449;
}

.contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding: 120px 10vw;
}

/*----colonne G----*/
.contact-box {
    background-image: url(../Images/p5_Box.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    margin-top: -50px;
    background-size: contain;

    width: 100%;
    max-width: 750px;
    aspect-ratio: 16 / 9;

    margin: 0 auto 40px;
    padding: 0px 40px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-box p {
    font-size: 70px;
    margin-top: 0px;
    text-align: center;
    font-weight: 700;
    color: #2b3250;
}

.contact-list {
    list-style: none;
    padding: 0;
    margin-top: -50px;
    margin-bottom: 50px;
    width: 100%;
}

.contact-list li {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}

.contact-illu {
    width: 90%;
    margin-top: -15px;
}

/*----colonne D-----*/
.bio-box {
    background-image: url("../Images/p5_me.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 100%;
    max-width: 750px;
    aspect-ratio: 1.6 / 2;

    padding: 60px 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0 auto;

    overflow: hidden;
}

.bio-content {
    margin-left: 70px;
    margin-right: 70px;
    max-width: 90%;
    margin-top: 30px;
}

.bio-box p,
.bio-box li {
    line-height: 1.6;
}

.bio-box h3 {
    margin-top: 30px;
    font-family: "Lexend", sans-serif;
}

.bio-content img {
    width: 150px;
    margin-top: 10px;
    margin-bottom: -20px;
}

.bio-content p {
    font-size: 23px;
}

.quisuisje {
    top: -50px;
    margin-left: 170px;
}

.contact-list li a:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

@media (max-width: 1800px) {

    .contact-page {
        grid-template-columns: 1fr;
        gap: 120px;
        padding: 100px 8vw;
    }

    .contact-left {
        margin-top: -60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 28px;
        backdrop-filter: blur(4px);
        padding: 100px 20px 50px 20px;
        border: rgb(255, 255, 255, 0.5) 2px solid;
    }

    .contact-box {
        margin-top: 0;
        padding: 40px;
        background-image: none;
    }

    .contact-box p {
        margin-top: -100px;
        font-size: 56px;
    }

    .contact-list {
        margin-top: -25px;
    }

    .contact-list li {
        justify-content: center;
        font-size: 26px;
        flex-direction: column;
        gap: 12px;
        text-align: center;
    }

    .contact-list li a img {
        width: 120px;
    }

    .contact-list li span {
        font-size: 22px;
        line-height: 1.2;
    }

    .contact-illu {
        width: 70%;
        margin-top: 40px;
    }

    .contact-right {
        display: flex;
        justify-content: center;
    }

    .bio-box {
        padding: 50px 40px;
        background-image: none;
        background-color: rgb(255, 255, 255, 0.2);
        border-radius: 28px;
        backdrop-filter: blur(4px);
        padding: 50px 20px 0px 20px;
        border: rgb(255, 255, 255, 0.5) 2px solid;
    }

    .bio-content {
        margin: 0 auto;
        max-width: 600px;
    }

    .quisuisje {
        margin-left: 0;
        top: 0;
        text-align: center;
    }
}